@media print {
  body,
  section {
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: 0 0 0 rgb(255 255 255 / 25500%) !important;
  }

  footer {
    page-break-after: always;
  }

  .no-print,
  .no-print * {
    display: none !important;
  }

  div.container {
    margin: auto;
    width: 21cm;
    height: auto;
  }

  div.pages {
    margin: auto;
    width: 21cm;
    height: auto;
  }

  section.page1 {
    float: none;
  }

  section.page2 {
    float: none;
  }
}
