/* thai */
@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Kanit Thin"), local("Kanit-Thin"), url("https://fonts.gstatic.com/s/kanit/v7/nKKX-Go6G5tXcr72KxaAcJxA.woff2") format("woff2");
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Kanit Thin"), local("Kanit-Thin"), url("https://fonts.gstatic.com/s/kanit/v7/nKKX-Go6G5tXcr72Kw2AcJxA.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Kanit Thin"), local("Kanit-Thin"), url("https://fonts.gstatic.com/s/kanit/v7/nKKX-Go6G5tXcr72KwyAcJxA.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Kanit Thin"), local("Kanit-Thin"), url("https://fonts.gstatic.com/s/kanit/v7/nKKX-Go6G5tXcr72KwKAcA.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Kanit ExtraLight"), local("Kanit-ExtraLight"), url("https://fonts.gstatic.com/s/kanit/v7/nKKU-Go6G5tXcr5aOhWzVaF5NQ.woff2") format("woff2");
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Kanit ExtraLight"), local("Kanit-ExtraLight"), url("https://fonts.gstatic.com/s/kanit/v7/nKKU-Go6G5tXcr5aOhWoVaF5NQ.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Kanit ExtraLight"), local("Kanit-ExtraLight"), url("https://fonts.gstatic.com/s/kanit/v7/nKKU-Go6G5tXcr5aOhWpVaF5NQ.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: Kanit;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Kanit ExtraLight"), local("Kanit-ExtraLight"), url("https://fonts.gstatic.com/s/kanit/v7/nKKU-Go6G5tXcr5aOhWnVaE.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 98%;
}

body {
  background: rgb(204 204 204);
  margin: 0;
  padding: 10px;
}

section {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  padding: 40px;
  box-shadow: 0 0 0.5cm rgb(0 0 0 / 50%);
  width: 21cm;
  height: 29.7cm;
}

@media (min-width: 50cm) {
  div.container {
    margin: auto;
    width: 47cm;
    display: table;
    height: 100%;
  }

  div.pages {
    margin: auto;
    width: 47cm;
    display: table-cell;
    height: 30cm;
    vertical-align: middle;
  }

  section.page1 {
    float: left;
  }

  section.page2 {
    float: right;
  }
}

@media (max-width: 49cm) {
  div.container {
    margin: auto;
    width: 23.1cm;
  }

  div.pages {
    margin: auto;
    width: 23.1cm;
    height: 64.5cm;
  }

  section.page1 {
    float: none;
  }

  section.page2 {
    float: none;
  }
}

.ResumePage {
  position: relative;
  padding: 0;
  margin: 0;
}

.ResumeHeader {
  left: 0;
  padding: 0;
  margin: 0;
  margin-top: -5px;
  margin-bottom: 5px;
  display: flex;
}

.ResumeHeaderLeft {
  display: inline-block;
  left: 0;
  margin: auto 0;
  width: 50%;
}

.ResumeHeaderRight {
  display: inline-block;
  right: 0;
  margin: auto 0;
  width: 50%;
  text-align: right;
}

.ResumeHeaderLeft h3 {
  margin-left: 5px;
  margin-bottom: 5px;
}

.ResumeHeaderLeft h4 {
  margin-left: 15px;
  margin-top: -8px;
  font-size: 11pt;
  font-weight: 600;
}

.ResumeBody {
  padding: 0;
  margin: 0;
}

.ResumeBodyLeft {
  display: inline-block;
  padding-right: 20px;
  position: absolute;
  left: 0;
  border-right: 2px solid #999;
  width: 270px;
}

.ResumeBodyRight {
  display: inline-block;
  padding-left: 20px;
  position: absolute;
  left: 290px;
}

a {
  text-decoration: none;
  font-family: Kanit, sans-serif;
  color: #000;
  font-size: 11pt;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
.PersonalDetails,
.PersonalDetailsAddress,
.LeftSideDetails,
li,
.ReferenceRole,
.ReferenceNumber,
.ReferenceEmail,
.JobPeriod {
  font-family: Kanit, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

h1 {
  margin-top: -10px;
  margin-bottom: -10px;
  font-weight: 600;
  font-size: 26pt;
}

h3.role {
  margin-bottom: -5px;
}

h2 {
  font-weight: 700;
  font-size: 16pt;
  text-shadow: 1px 0 #2e74b5;
}

h2,
h3 {
  color: #2e74b5;
}

h3 {
  font-weight: 900;
  font-size: 15pt;
}

h4 {
  font-weight: 300;
  margin-left: 10px;
  font-size: 13pt;
  margin-top: -10px;
}

h5 {
  font-weight: 100;
  font-size: 11pt;
  letter-spacing: 1px;
}

h6 {
  margin-top: 5px;
  font-weight: 900;
  font-size: 10pt;
  text-shadow: 1px 0 #000;
  letter-spacing: 1px;
}

.ResumeBody h6 {
  margin-top: 5px;
  font-weight: 900;
  font-size: 9pt;
  text-shadow: 1px 0 #000;
  letter-spacing: 1px;
}

.JobTitle h6 {
  margin-top: 5px;
  font-weight: 900;
  font-size: 10pt;
  text-shadow: 1px 0 #000;
  letter-spacing: 1px;
}

h6.sidebar {
  margin-top: 5px;
  font-weight: 900;
  font-size: 11pt;
  text-shadow: 1px 0 #000;
  letter-spacing: 1px;
}

.ResumeHeaderRight h6 {
  color: #2e74b5;
}

.PersonalDetails,
.PersonalDetailsAddress,
.JobDetails,
.ReferenceName,
.LeftSideDetails {
  margin-left: 10px;
  font-size: 11pt;
}

.ReferenceName {
  margin-bottom: 0;
}

.ReferenceEmail a {
  color: #000;
  text-decoration: none;
  font-size: 11pt;
}

.ReferenceDetails {
  margin-left: 20px;
  font-size: 11pt;
  margin-bottom: 20px;
}

ul.PersonalDetails,
ul.LeftSideDetails,
ul.ReferenceName,
ul.JobDetails {
  margin-left: -20px;
  margin-top: 5px;
}

ul.PersonalDetails li,
ul.LeftSideDetails li,
ul.ReferenceName li,
ul.JobDetails li,
.PersonalDetailsAddress {
  font-size: 11pt;
  line-height: 1.2;
}

ul.ReferenceName li {
  font-weight: 900;
  text-shadow: 1px 0 #000;
}

li.nobullet {
  list-style-type: none;
}

.sublist {
  margin-top: 2px;
  margin-left: -20px;
}

.underline {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 0;
  border-bottom: 2px solid #999;
  width: 100%;
}

.Job {
  display: block;
}

.Job:hover {
  display: block;
  background-color: #2e74b511;
  border-right: 1px solid #2e74b5;
}

.JobHeader {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}

.JobPeriod {
  display: inline-block;
  width: 25%;
  font-size: 10pt;
  padding-right: 20px;
  margin: auto 0;
  font-weight: 200;
}

.JobTitle {
  display: inline-block;
}

.JobTitle h3 {
  margin: 0;
  margin-bottom: -10px;
}

.JobBody {
  display: block;
}

#dialogimage {
  opacity: 0.5;
}

.float-print {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #2e74b5;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.watermark {
  position: absolute;
  margin-top: 13cm;
  margin-left: 3cm;
  margin-right: 3cm;
  opacity: 0.075;
  font-size: 12em;
  width: 11cm;
  text-align: center;
  z-index: 1000;
  color: #2e74b5;
  transform: rotate(-45deg);
  user-select: none;
}

.headerMarkTop,
.headerMarkRight1,
.headerMarkRight2 {
  position: absolute;
  z-index: 1000;
  background-color: #2e74b5;
  opacity: 0.15;
}

.headerMarkTop {
  height: 0.3cm;
  width: 5cm;
  margin-top: -1.04cm;
  margin-left: 13.5cm;
}

.headerMarkRight1 {
  margin-top: 7cm;
  width: 0.3cm;
  height: 5cm;
  margin-left: 21.75cm;
}

.headerMarkRight2 {
  margin-top: 22cm;
  width: 0.3cm;
  height: 5cm;
  margin-left: 21.75cm;
}

.photo {
  position: absolute;
  margin-top: -0.5cm;
  margin-left: 8.5cm;
}
